
<div class="awards">
	<div class="awards__item">Самый бысторазвивающийся брокер на Ближнем Востоке</div>
	<div class="awards__item">Динамичное развитие IAFT Awards 2017</div>
	<div class="awards__item">Лучшие партнерские программы финансовых рынков RACE Awards 2016</div>
	<div class="awards__item">Лучший CFD-брокер на рынке партнерских программ RACE Awards 2015</div>
	<div class="awards__item">Самый высокий процент успешных клиентов IAFT Awards 2014</div>
	<div class="awards__item">Самое быстрое исполнение ордеров IAFT Awards 2014</div>
</div>