a(href="/" class="logo")
    .logo__wrapper
        img(src="images/svg/sprite.svg#logo" alt="logo")
    span.logo__description AMarkets - ваш онлайн-брокер
include ./__menu/__menu.pug
a(href="#" class="btn" id="demo-btn") Демо-доступ