.dropdown
    span.dropdown__dots
        img(src="images/svg/sprite.svg#multidots" alt="dropdown")
    nav.dropdown__wrapper
        a(href="#" class="dropdown__item") Интервью
        a(href="#" class="dropdown__item") СМИ
        a(href="#" class="dropdown__item") Пополнение и снятие
        a(href="#" class="dropdown__item") FAQ
        .main-elements
            a(href="#" class="dropdown__item") Инвестиции в акции
            a(href="#" class="dropdown__item") Условия торговли
            a(href="#" class="dropdown__item") Обмен Валюты
            a(href="#" class="dropdown__item") Акции компании
