@import "__content/__content";

.demo__wrapper{
  margin:20px 0;
}

.demo__content{
  max-width: 60%;
}

.demo__graph{
  width:45%;
  margin-left:-5%;
}

@media all and (max-width: 1100px){
  .demo__content {
    max-width: 70%;
  }
  .demo__graph{
     width: 35%;
   }
}
@media all and (max-width: 1000px){
  .demo__graph{
    display: none;
  }

  .demo__content{
    max-width: 100%;
  }

  .demo__wrapper{
    margin:10px 0;
  }
}