
<div class="header-menu__wrapper">
	<nav class="header__menu"><a class="menu__item" href="#">Инвестиции в акции</a><a class="menu__item" href="#">Условия торговли</a><a class="menu__item" href="#">Обмен Валюты</a><a class="menu__item" href="#">Акции компании</a></nav>
	<div class="dropdown"><span class="dropdown__dots"><img src="images/svg/sprite.svg#multidots" alt="dropdown"/></span>
		<nav class="dropdown__wrapper"><a class="dropdown__item" href="#">Интервью</a><a class="dropdown__item" href="#">СМИ</a><a class="dropdown__item" href="#">Пополнение и снятие</a><a class="dropdown__item" href="#">FAQ</a>
			<div class="main-elements"><a class="dropdown__item" href="#">Инвестиции в акции</a><a class="dropdown__item" href="#">Условия торговли</a><a class="dropdown__item" href="#">Обмен Валюты</a><a class="dropdown__item" href="#">Акции компании</a></div>
		</nav>
	</div>
</div>