.header-menu__wrapper
    nav.header__menu
        a(href="#" class="menu__item") Инвестиции в акции
        a(href="#" class="menu__item") Условия торговли
        a(href="#" class="menu__item") Обмен Валюты
        a(href="#" class="menu__item") Акции компании
    include ./__dropdown/__dropdown.pug
